<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyPetStore</title>
</head>
<body>
<div th:replace="~{common/top}"></div>

<div id="Content">
    <div id="BackLink"> <a href="catalog/index">Return to Main Menu</a>
    </div>

    <div id="Catalog">
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <div id="Cart">

            <h2>Shopping Cart</h2>

            <form action="/cart/updateCart" method="post" th:object="${quantityRevise}">
                <table id="register_table">
                    <tr>
                        <th><b>Item ID</b></th>
                        <th><b>Product ID</b></th>
                        <th><b>Description</b></th>
                        <th><b>In Stock?</b></th>
                        <th><b>Quantity</b></th>
                        <th><b>List Price</b></th>
                        <th><b>Total Cost</b></th>
                        <th>&nbsp;</th>
                    </tr>


                    <tr th:if="${quantity == 0}">
                        <td colspan="8"><b>Your cart is empty.</b></td>
                    </tr>



                    <tr th:each="cartitem:${cartItemListMapper.cartItemList}">
                        <td>
                            <a th:href="'/catalog/viewItem?itemId='+${cartitem.itemVO.itemId}" th:text="${cartitem.itemVO.itemId}">cartItem item itemId</a>
                        </td>
                        <td th:text="${cartitem.itemVO.productId}">${cartItem.item.product.productId}</td>
                        <td th:text="${cartitem.itemVO.attributes}">Item Attributes</td>
                        <td th:text="${cartitem.inStock}">CartItem inStock</td>
                        <td>

                            <input type="number" name="quantities" th:value="${cartitem.cart.quantity}" min="1">
                            <input type="hidden" name="itemIds" th:value="${cartitem.cart.itemId}">
                            <script type="text/javascript" src="../js/updateCart.js"></script>
                        </td>




                        <td th:text="'$'+${#numbers.formatDecimal(cartitem.itemVO.listPrice,1,2)}">Item List Price</td>
                        <td>
                            <label id="total" th:text="${cartitem.total}">${cartItem.total}</label>
                        </td>
                        <td>
                            <a th:href="@{/cart/removeCartItem?workingItemId=}+${cartitem.itemVO.itemId}" class="Button">Remove</a>
                        </td>
                    </tr>

                    <tr th:if="${subTotal > 0}">
                        <td colspan="7" id="lastTD">
                            Sub Total:<label id="subtotal" th:text="${subTotal}">${subTotal}</label>

                            <input type="submit" id="updateCart" value="Update Cart">
                        </td>
                        <td>&nbsp</td>
                    </tr>
                </table>


            </form>

<!--            <c:if test="${sessionScope.cart.numberOfItems > 0}">-->


            <a th:if="${subTotal>0}" href="/order/newOrder" class="Button">Proceed To Checkout</a>


        </div>




        <div id="Separator">&nbsp;</div>
    </div>
    <div id="overlay"></div>
    <div id="OrderContainer"></div>
    <script src="js/Update-Cart.js"></script>
    <script src="js/Order.js"></script>

</div>

<div th:replace="~{common/bottom}"></div>
</body>
</html>